.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-a {
  text-decoration: none;
}
.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 200px;
  background-color: black;
  color: #cdced1;
  cursor: pointer;
  text-decoration: none;
}
.Movie-wrapper a {
  list-style-type: none;
  text-decoration: none;
  color: #cdced1;
  
}

.Movie-wrapper:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.Movie-search {
  height:30px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 5px;
}

.Movie-image {
  width: 150px;
}

.Movie-title {
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
  font-size: 18px;
}

.Movie-date{
  font-size: 20px;
}

.Movie-rate {
  font-size: 20px;
  margin-bottom: 10px;
  color: orangered;
}
